.black-nav {
  /* display: flex; */
  display: grid;
  background: black;
  width: 100%;
  color: white;
  /* padding-left: 20px; */
  padding : 10px;
}

.emoji-github{
  background-image: url(./image/git-hub.png);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.emoji-tistory{
  background-image: url(./image/tistory.png);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.brown-box {
  position: absolute;
  top: 50%; /* 상자의 위치 조절을 위해 백분율 값을 사용할 수 있습니다. */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* 화면 너비의 80% */
  height: 50vh;
  background-color: #A9907E; /* 갈색배경 */
}

.emoji-instagram{
  background-image: url(./image/instagram.png);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
}

/* .main-bg{
  height: 500px;
  background-image: url(./image/main-bg.png);
  background-position: center;
  background-size: cover;
  position: 'relative'; 
  color: 'white'; 
  padding: '20px';
} */

.back-ima{
  background-image: url(./image/back-ima.jpg);
  background-position: center;
  background-size: cover;
  position: 'relative'; 
  color: 'white'; 
  padding: '20px';
  width: 100%; /* 부모 요소의 너비를 100%로 설정합니다. */
  height: 79vh; /* 부모 요소의 높이를 화면 높이의 100%로 설정합니다. */  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
